<header id="main-header" class="header-one">
    <!-- menu start -->
    <nav id="menu-1" class="mega-menu" data-color="">
       <!-- menu list items container -->
       <div class="menu-list-items">
          <div class="container-fluid">
             <div class="row">
                <div class="col-sm-12">
                   <!-- menu logo -->
                   <ul class="menu-logo">
                      <li>
                         <a href="index.html"><img src="assets/images/logo5.png"  class="logo4"></a>
                      </li>
                   </ul>
                   <!-- menu links -->
                   <ul class="menu-links">
                      <!-- active class -->
                      <li class="active">
                         <a href="javascript:void(0)">HOME</a>
                         <!-- drop down multilevel  -->
                         <ul class="drop-down-multilevel">
                            <li class="active"><a href="index.html">BUSINESS STARTUP</a></li>
                            <li><a href="home-2.html">CREATIVE AGENCY</a></li>
                            <li><a href="home-3.html">SAAS LANDING PAGE</a></li>
                            <li><a href="home-4.html">DIGITAL MARKETING</a></li>
                            <li><a href="home-5.html">CONSULTING</a></li>
                         </ul>
                      </li>
                      <li>
                         <a href="javascript:void(0)">PAGES </a>
                         <!-- drop down multilevel  -->
                         <ul class="drop-down-multilevel">
                            <li>
                               <a href="about-us.html">ABOUT US </a>
                               <!-- drop down second level -->                             
                            </li>
                            <li>
                               <a href="our-services.html">OUR SERVICES </a>
                               <!-- drop down second level -->      
                            </li>
                            <li>
                               <a href="#">OUR TEAM <i class="fa fa-angle-right fa-indicator"></i> </a>
                               <!-- drop down second level -->
                               <ul class="drop-down-multilevel">
                                  <li><a href="our-team.html">OUR TEAM 1</a></li>
                                  <li><a href="team-details.html">TEAM DETAILS</a></li>
                               </ul>
                            </li>
                            <li>
                               <a href="pricing-plan.html">PRICING PLAN  </a>
                               <!-- drop down second level -->
                            </li>
                            <li>
                               <a href="clients-1.html">OUR CLIENTS </a>
                               <!-- drop down second level -->
                            </li>
                            <li>
                               <a href="faq-1.html">FAQ  </a>
                               <!-- drop down second level -->
 
                            </li>
                            <li><a href="404-1.html">ERROR 404 </a>
                            <!-- drop down second level -->
                         </li>
                         <li><a href="coming-soon-1.html">COMING SOON</a></li>
                      </ul>
                   </li>
                   <li>
                      <a href="javascript:void(0)">PORTFOLIO</a>
                      <!-- drop down multilevel  -->
                      <ul class="drop-down-multilevel">
                         <li><a href="masonry-2-columns.html">MASONRY 2 COLUMNS</a></li>
                         <li><a href="masonry-3-columns.html">MASONRY 3 COLUMNS</a></li>
                         <li><a href="masonry-4-columns.html">MASONRY 4 COLUMNS</a></li>
                         <li><a href="masonry-5-columns.html">MASONRY 5 COLUMNS</a></li>
                         <li><a href="masonry-no-space.html">MASONRY NO SPACE</a></li>
                      </ul>
                   </li>
                   <li>
                      <a href="javascript:void(0)">BLOG</a>
                      <!-- drop down multilevel  -->
                      <ul class="drop-down-multilevel">
                         <li><a href="one-column-blog.html">ONE COLUMN BLOG</a></li>
                         <li><a href="two-column-blog.html">TWO COLUMN BLOG</a></li>
                         <li><a href="three-column-blog.html">THREE COLUMN BLOG</a></li>
                         <li><a href="left-sidebar-blog.html">LEFT SIDEBAR BLOG</a></li>
                         <li><a href="right-sidebar-blog.html">RIGHT SIDEBAR BLOG</a></li>
                      </ul>
                   </li>
                   <li>
                      <a href="contact-us.html">CONTACT US</a>
                      <!-- drop down multilevel  -->
                   </li>
                   <li><a class="button btn-hdr" href="javascript:void(0)">GET STARTED</a></li>
                </ul>
             </div>
          </div>
       </div>
    </div>
 </nav>
 <!-- menu end -->
 </header>
   <!-- Header End -->  



    
    <div class="main-content">
        <!-- About-us Start -->
        <section  class="iq-aboutus overview-block-ptb gray-bg">
           <div  id="backgroundimage" class="container">
              <div class="row align-items-center">
                 <div class="col-lg-6 text-center">

                  <br><br><br><br><br><br>
                  
                  
                  <img src="assets/images/about/01.png" class="img-fluid w-75" alt="#">
                    <div class="iq-objects-style-1">
                       <span class="iq-objects-01" data-bottom="transform:translatey(-50px)" data-top="transform:translatey(-50px);">
                          <img src="assets/images/effect/dotted-pattern-black.png" alt="drive02">
                       </span>
                     
                       <span class="iq-objects-03" data-bottom="transform:translatex(50px)" data-top="transform:translatex(-100px);">
                          <img src="assets/images/effect/dotted-pattern-black.png" alt="drive02">
                       </span>
                    </div>
                 </div>
                 <div   class="col-lg-6">
                
                  <form>

        
                     <!-- Email input -->
                     <div class="form-outline mb-4">
                       <input type="email" id="form3Example3" class="form-control form-control-lg"
                         placeholder="Votre Id" />
                       <label class="form-label" for="form3Example3">Votre Id</label>
                     </div>
           
                     <!-- Password input -->
                     <div class="form-outline mb-3">
                       <input type="password" id="form3Example4" class="form-control form-control-lg"
                         placeholder="Mot de passe" />
                       <label class="form-label" for="form3Example4">Mot de passe</label>
                     </div>
           
                     <div class="d-flex justify-content-between align-items-center">
               
                       <a href="#!" class="text-body">Mot de passe oublié?</a>
                     </div>
           
               
           
                   </form>



                 </div>
              </div>
           </div>
           <div class="scrolling-text top right default">
              <div data-bottom="transform:translatex(300px)" data-top="transform:translatex(0);"></div>
           </div>
        </section>
        <!-- About-us End -->
        <!-- Features Start -->
        <section class="iq-features">
           <div class="container">
              <div class="row">
                 <div class="col-lg-12 col-md-12">
                    <div class="title-box text-center">
                       <span class="text-warning">Our expertise</span>
                       <h2 class="title">Exclusive Features</h2>
                       <p class="mb-0">It is a long established fact that a reader will be distracted</p>
                    </div>
                 </div>
              </div>
              <div class="row">
                 <div class="col-lg-4 mb-lg-0 mb-5">
                    <div class="future-services text-center">
                       <div class="future-img mb-3">
                          <img src="assets/images/features/01.png" class="img-fluid" alt="fancybox">
                       </div>
                       <h4 class="mb-2">Web Development</h4>
                       <p class="mb-0">Vitae elementum curabitur vitae velit ut pharetra sit amet aliquam id.</p>
                    </div>
                 </div>
                 <div class="col-lg-4 mb-lg-0 mb-5">
                    <div class="future-services text-center mt-0">
                       <div class="future-img mb-3">
                          <img src="assets/images/features/02.png" class="img-fluid" alt="fancybox">
                       </div>
                       <h4 class="mb-2">Marketing Strategy</h4>
                       <p class="mb-0">Vitae elementum curabitur vitae velit ut pharetra sit amet aliquam id.</p>
                    </div>
                 </div>
                 <div class="col-lg-4">
                    <div class="future-services text-center">
                       <div class="future-img mb-3">
                          <img src="assets/images/features/03.png" class="img-fluid" alt="fancybox">
                       </div>
                       <h4 class="mb-2">Content Writing</h4>
                       <p class="mb-0">Vitae elementum curabitur vitae velit ut pharetra sit amet aliquam id.</p>
                    </div>
                 </div>
              </div>
           </div>
           <div class="scrolling-text top left default">
              <div data-bottom="transform:translatex(-300px)" data-top="transform:translatex(0);">This Is Us</div>
           </div>
        </section>
        <!-- Features End -->
        <!-- Project Start -->
        <section class="iq-project gray-bg">
           <div class="container gray-bg">
              <div class="row align-items-center">
                 <div class="col-lg-6 text-center">
                    <img src="assets/images/project/01.png" class="img-fluid" alt="#">
                    <div class="iq-objects-style-1">
                       <span class="iq-objects-01" data-bottom="transform:translatey(-50px)" data-top="transform:translatey(-50px);">
                          <img src="assets/images/effect/dotted-pattern-black.png" alt="drive02">
                       </span>
                       <span class="iq-objects-02" data-bottom="transform:translatey(50px)" data-top="transform:translatey(-100px);">
                          <img src="assets/images/effect/dotted-pattern-black.png" alt="drive02">
                       </span>
                       <span class="iq-objects-03" data-bottom="transform:translatex(50px)" data-top="transform:translatex(-100px);">
                          <img src="assets/images/effect/dotted-pattern-black.png" alt="drive02">
                       </span>
                    </div>
                 </div>
                 <div class="col-lg-6">
                    <div class="title-box text-left">
                       <span class="text-warning">Customize services</span>
                       <h2 class="title">Project Planning</h2>
                       <p class="mb-0">Progravida nibh vel velit auctor alinean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum,Lorem Ipsum.lorem quis bibendum auctor.</p>
                    </div>
                    <ul class="iq-list">
                       <li><i class="ion ion-checkmark-circled"></i><span>Simply dummy text of the Lorem Ipsum is printing and type setting industry.</span></li>
                       <li><i class="ion ion-checkmark-circled"></i><span>Dummy text of the Lorem Ipsum is printing and type setting industry.</span></li>
                       <li><i class="ion ion-checkmark-circled"></i><span>Simply dummy text of the Lorem Ipsum is setting industry.</span></li>
                    </ul>
                    <a class="button " href="#">Read More</a>
                 </div>
              </div>
           </div>
           <div class="scrolling-text top right default">
              <div data-bottom="transform:translatex(300px)" data-top="transform:translatex(0);">Integrated Services</div>
           </div>
        </section>
        <!-- Project End -->
        <!-- Progress Bar Start -->
        <section class="iq-progress">
           <div class="container">
              <div class="row flex-row-reverse">
                 <div class="col-lg-6 text-center">
                    <img src="assets/images/choose-us/01.png" class="img-fluid w-75" alt="fancybox">
                    <div class="iq-objects-style-2 right">
                       <span class="iq-objects-01" data-bottom="transform:translatey(-50px)" data-top="transform:translatey(-50px);">
                          <img src="assets/images/effect/01.jpg" alt="drive02">
                       </span>
                       <span class="iq-objects-02" data-bottom="transform:translatey(50px)" data-top="transform:translatey(-100px);">
                          <img src="assets/images/effect/02.jpg" alt="drive02">
                       </span>
                       <span class="iq-objects-03" data-bottom="transform:translatex(50px)" data-top="transform:translatex(-100px);">
                          <img src="assets/images/effect/03.jpg" alt="drive02">
                       </span>
                    </div>
                 </div>
                 <div class="col-lg-6">
                    <div class="title-box text-left">
                       <span class="text-warning">Together we succeed!</span>
                       <h2 class="title">Why You Will Choose Us?</h2>
                       <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    <div class="iq-services-box text-left">
                       <div class="services-content">
                          <h6>User Interface</h6>
                          <span class="progress-value">90%</span>
                          <div class="iq-progress-bar">
                             <span data-percent="90"></span>
                          </div>
                       </div>
                       <div class="services-content">
                          <h6>Memory Usage</h6>
                          <span class="progress-value">95%</span>
                          <div class="iq-progress-bar">
                             <span data-percent="95"></span>
                          </div>
                       </div>
                       <div class="services-content">
                          <h6>App Development</h6>
                          <span class="progress-value">75%</span>
                          <div class="iq-progress-bar">
                             <span data-percent="75"></span>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
           <div class="scrolling-text top left default">
              <div data-bottom="transform:translatex(-300px)" data-top="transform:translatex(0);">Custom Solution</div>
           </div>
        </section>
        <!-- Progress Bar End -->
        <!-- Counter start -->
        <div class="iq-counter-box gray-bg mt-5">
           <div class="container">
              <div class="row">
                 <div class="col-lg-3 col-md-6 col-sm-12 text-center">
                    <div class="iq-counter pb-0">
                       <span class="timer" data-to="1105" data-speed="5000">1105</span>
                       <h6>Years of Experience</h6>
                    </div>
                 </div>
                 <div class="col-lg-3 col-md-6 col-sm-12 text-center">
                    <div class="iq-counter pb-0">
                       <span class="timer" data-to="680" data-speed="5000">680</span>
                       <h6>Awards &amp; Recognition</h6>
                    </div>
                 </div>
                 <div class="col-lg-3 col-md-6 col-sm-12 text-center">
                    <div class="iq-counter pb-0">
                       <span class="timer" data-to="2500" data-speed="5000">2500</span>
                       <h6>Completed Projects</h6>
                    </div>
                 </div>
                 <div class="col-lg-3 col-md-6 col-sm-12 text-center">
                    <div class="iq-counter">
                       <span class="timer" data-to="1440" data-speed="5000">1440</span>
                       <h6>Satisfied Clients</h6>
                    </div>
                 </div>
              </div>
           </div>
        </div>
   
       
    
</div>