header .mega-menu .menu-logo>li>a img {
    height: 50px;;
    position: relative;
    width: auto;
    left: -100px;
}
    
input, input.form-control, .form-control {
    width: 100%;
    border: 1px solid #6f6f6f;
    height: 52px;
    padding: 0 20px;
    margin-bottom: 0px;
    border-radius: 100px;
    border-radius: 1;
    background: #fff;
    color: #ebebeb;
}
header{
    font-family: open sans,sans-serif;
    position: fixed;
    background-color: #d3d3d3;
}

.gray-bg {
 

    background-color: #d3d3d3;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: 1;
}
#backgroundimage{

    background-image: url("https://edon-ng.envytheme.com/assets/images/banner/banner-shap-left.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: 1;
}

#top-tile{
    display: block;
    font-size: 14px;
    margin-bottom: 10px;
    position: relative;
    left: -150px;
    top: 0px;

    font-weight: 700;
color: #a31111;
}